<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Clothing Donation Web</title>
  <link rel="stylesheet" href="../styles/main.css"/>
</head>

<body background="../images/bg2.jpg">
<h2><img src="../images/logo.jpg" width="50" height="50" alt="Web logo" />爱心捐赠网站</h2>
<nav>
    <a href="contact.html">联系我们</a>
    <ul>
      <li><a href="../index.html">主页</a></li>
      <li>
        <a href="../views/info.html">捐赠信息</a>
      </li>
    </ul>
</nav>

<div>
    <p>若您有建议，请告诉我们。</p>
    <p>联系邮箱:123@163.com</p>
    <p>非营利性组织，为大家提供一个爱心捐助的平台</p>
</div>

<script type="text/javascript" src="../lib/jquery-2.1.1/jquery-2.1.1.js"></script>
<script type="text/javascript" src="../lib/bootstrap-3.2.0-dist/js/bootstrap.js"></script>
<script type="text/javascript" src="../lib/lodash-2.4.1/lodash.compat.js"></script>
<script type="text/javascript" src="../spec/fixtures.js"></script>
<script type="text/javascript" src="../scripts/model/item.js"></script>
<script type="text/javascript" src="../scripts/model/promotion.js"></script>
<script type="text/javascript" src="../scripts/utils.js"></script>
<script type="text/javascript" src="../scripts/main.js"></script>

</body>
</html>
